/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 1);
}
/* 首页侧栏卡片 */
.card-widget{
  background:rgba(255, 255, 255, 1)!important;
}
/* 文章页面正文背景 */
div#post{
  background: rgba(255, 255, 255, 1);
}
/* 分页页面 */
div#page{
  background: rgba(255, 255, 255, 1);
}
/* 归档页面 */
div#archive{
  background: rgba(255, 255, 255, 1);
}
/* 标签页面 */
div#tag{
  background: rgba(255, 255, 255, 1);
}
/* 分类页面 */
div#category{
  background: rgba(255, 255, 255, 1);
}




/* 首页文章卡片 */
[data-theme=dark] #recent-posts > .recent-post-item{
  background:rgba(0,0,0,1);
}
/* 首页侧栏卡片 */
[data-theme=dark] .card-widget{
background:rgba(0,0,0,1)!important;
}
/* 文章页面正文背景 */
[data-theme=dark] div#post{
background: rgba(0,0,0,1);
}
/* 分页页面 */
[data-theme=dark] div#page{
background: rgba(0,0,0,1);
}
/* 归档页面 */
[data-theme=dark] div#archive{
background: rgba(0,0,0,1);
}
/* 标签页面 */
[data-theme=dark] div#tag{
background: rgba(0,0,0,1);
}
/* 分类页面 */
[data-theme=dark] div#category{
background: rgba(0,0,0,1);
}
.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body {
  left: -66px !important;
  /* 默认情况下缩进左侧66px，只留一点箭头部分 */
}

.aplayer.aplayer-fixed.aplayer-narrow .aplayer-body:hover {
  left: 0 !important;
  /* 鼠标悬停是左侧缩进归零，完全显示按钮 */
}

#bbitems h1:before,
#bbitems h2:before,
#bbitems h3:before,
#bbitems h4:before,
#bbitems h5:before,
#bbitems h6:before {
  display: inline-block;
  font-weight: 600;
  font-style: normal;
  font-variant: normal;
  font-family: 'Font Awesome 5 Free';
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

#article-container ol,
#article-container ul {
  margin-top: 0.4rem;
}
#article-container ol p,
#article-container ul p {
  margin: 0 0 0.5rem;
}
#article-container ol ol,
#article-container ul ol,
#article-container ol ul,
#article-container ul ul {
  padding-left: 0.5rem;
}
#article-container ol li,
#article-container ul li {
  position: relative;
  margin: 0.3rem 0;
  padding-left: 0.3rem;
}
#bbitems h1,
#bbitems h2,
#bbitems h3,
#bbitems h4,
#bbitems h5,
#bbitems h6 {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#bbitems h1:before,
#bbitems h2:before,
#bbitems h3:before,
#bbitems h4:before,
#bbitems h5:before,
#bbitems h6:before {
  position: absolute;
  top: calc(50% - 0.35rem);
  color: #f47466;
  content: '\f0c1';
  line-height: 1;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
#bbitems h1:hover:before,
#bbitems h2:hover:before,
#bbitems h3:hover:before,
#bbitems h4:hover:before,
#bbitems h5:hover:before,
#bbitems h6:hover:before {
  color: #49b1f5;
}
#bbitems h1 {
  padding-left: 1.4rem;
}
#bbitems h1 code {
  font-size: 1rem;
}
#bbitems h1:before {
  margin-left: -1.2rem;
  font-size: 1rem;
}
#bbitems h1:hover {
  padding-left: 1.6rem;
}
#bbitems h2 {
  padding-left: 1.3rem;
}
#bbitems h2 code {
  font-size: 0.9rem;
}
#bbitems h2:before {
  margin-left: -1.1rem;
  font-size: 0.9rem;
}
#bbitems h2:hover {
  padding-left: 1.5rem;
}
#bbitems h3 {
  padding-left: 1.2rem;
}
#bbitems h3 code {
  font-size: 0.8rem;
}
#bbitems h3:before {
  margin-left: -1rem;
  font-size: 0.8rem;
}
#bbitems h3:hover {
  padding-left: 1.4rem;
}
#bbitems h4 {
  padding-left: 1.1rem;
}
#bbitems h4 code {
  font-size: 0.7rem;
}
#bbitems h4:before {
  margin-left: -0.9rem;
  font-size: 0.7rem;
}
#bbitems h4:hover {
  padding-left: 1.3rem;
}
#bbitems h5 {
  padding-left: 1rem;
}
#bbitems h5 code {
  font-size: 0.6rem;
}
#bbitems h5:before {
  margin-left: -0.8rem;
  font-size: 0.6rem;
}
#bbitems h5:hover {
  padding-left: 1.2rem;
}
#bbitems h6 {
  padding-left: 1rem;
}
#bbitems h6 code {
  font-size: 0.6rem;
}
#bbitems h6:before {
  margin-left: -0.8rem;
  font-size: 0.6rem;
}
#bbitems h6:hover {
  padding-left: 1.2rem;
}
#bbitems ol,
#bbitems ul {
  margin-top: 0.4rem;
  padding: 0 0 0 0.8rem;
  list-style: none;
  counter-reset: li;
}
@media screen and (max-width: 768px) {
  #bbitems ol,
  #bbitems ul {
    padding: 0 0 0 0.4rem;
  }
}
#bbitems ol p,
#bbitems ul p {
  margin: 0 0 0.5rem;
}
#bbitems ol ol,
#bbitems ul ol,
#bbitems ol ul,
#bbitems ul ul {
  padding-left: 0.6rem;
}
@media screen and (max-width: 768px) {
  #bbitems ol ol,
  #bbitems ul ol,
  #bbitems ol ul,
  #bbitems ul ul {
    padding-left: 0.2rem;
  }
}
#bbitems ol li:not(.tab),
#bbitems ul li:not(.tab) {
  position: relative;
  margin: 0.2rem 0;
}
#bbitems ol li:hover:before,
#bbitems ul li:hover:before {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
#bbitems ol li:before,
#bbitems ul li:before {
  position: absolute;
  top: 0;
  left: 0;
  background: #49b1f5;
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
#bbitems ol > li:not(.tab) {
  padding: 0.2em 0.2em 0.2em 1.8em;
}
#bbitems ol > li:before {
  margin-top: 0.65em;
  width: 1.45em;
  height: 1.45em;
  border-radius: 0.725em;
  content: counter(li);
  counter-increment: li;
  text-align: center;
  font-size: 0.85em;
  line-height: 1.45em;
}
#bbitems ul > li:not(.tab) {
  padding: 0.2em 0.2em 0.2em 1.4em;
}
#bbitems ul > li:not(.tab):hover:before {
  border-color: #ff7242;
}
#bbitems ul > li:not(.tab):before {
  top: 0.78em;
  width: 0.42em;
  height: 0.42em;
  border: 0.21em solid #49b1f5;
  border-radius: 0.42em;
  background: transparent;
  content: '';
  line-height: 0.42em;
}







